DB_USER=postgres
DB_HOST=localhost
DB_NAME=YOUR_DB_NAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_PORT=5432

NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET_KEY
NEXTAUTH_URL=http://localhost:3000

RESEND_API_KEY=YOUR_RESEND_API_KEY
CONTACT_TO_EMAIL=your@email.com