#Local database, do not comment out unless you're running/testing supabase
DB_USER=postgres
DB_HOST=localhost
DB_NAME=YOUR_DB_NAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_PORT=5432
PORT=5000

#Hosted database - DO NOT UNCOMMENT UNLESS YOU'RE RUNNING/TESTING SUPABASE
#DB_USER=postgres.YOUR_PROJECT_REF
#DB_HOST=aws-1-eu-north-1.pooler.supabase.com
#DB_NAME=postgres
#DB_PASSWORD=YOUR_SUPABASE_DB_PASSWORD
#DB_PORT=5432

API_URL=http://localhost:5000

NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET_KEY
NEXTAUTH_URL=http://localhost:3000

RESEND_API_KEY=YOUR_RESEND_API_KEY
CONTACT_TO_EMAIL=your@email.com
RESEND_AUDIENCE_ID=YOUR_RESEND_AUDIENCE_ID